{% extends 'base.html'%} 
{% import 'macros.html' as macro%}
 {%block content %}
    <div class="container-fluid" style="background-color: antiquewhite;height: 100vh;">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            
          </div>
          
          
         
          <h3> comments section</h3>
          {%for comment in comments%}
            {{comment.comment}}
          {%endfor%}
        </div>
        <div clas="col-md-2">

          <div class="col-md-12">
            <h3 style="text-align:center">Comments</h3>
            <hr>
            {{macro.displayComments()}}
        </div>

             <a href="{{url_for('main.new_comment',id=pitch_id)}}" class="btn btn-primary btn" style="font-size: 18px;">Make a comment</a>
        </div>
      </div>
    </div>
    {%endblock%}

    